.header {
  background-color: #321e52;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 16px 24px;
}

@media screen and (min-width: 700px) {
  .header {
    padding: 24px 48px;
  }
}

.title {
  color: rgb(239, 224, 255);
  font-size: 24px;
  text-align: left;
  margin-top: 8px;
}

.heading {
  width: 100%;
  color: rgb(239, 224, 255);
  align-self: flex-start;
  display: flex;
  font-size: 32px;
  text-align: left;
  max-width: 900px;
  padding: 8px;
}

@media screen and (min-width: 700px) {
  .heading {
    font-size: 64px;
    margin: 0 auto;
  }
}

.wrapper {
  display: flex;
  width: 100vw;
  max-width: 900px;
  height: 100%;
  margin: 8px auto;
  gap: 16px;
  word-break: break-word;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  align-items: flex-start;
  overflow-y: hidden;
  background-color: #1f1136;
  padding: 24px 16px;
  margin-left: -24px;
}

@media screen and (min-width: 700px) {
  .wrapper {
    min-width: 200px;
    gap: 24px;
    margin: 24px auto;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 16px;
    background-color: #321e52;
  }
}

.button {
  cursor: grab;
  height: 100%;
  min-height: 160px;
  width: 50px;
  font-size: 24px;
  padding: 16px;
  background-color: #c5b1e3;
  color: #2cff5a;
  font-weight: bold;
  border-radius: 16px;
  border: 1px solid #c5b1e3;
  flex: 0 0 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  align-content: flex-end;
  text-align: left;
  box-shadow: 0px 8px 24px 5px rgba(18, 18, 18, 0.27);
  scroll-snap-align: center;
}

.button span {
    background-color: #1f1136;
}

@media screen and (min-width: 700px) {
  .button {
    cursor: pointer;
    height: 200px;
    max-width: 200px;
  }
}

.button:hover {
  background-color: #d5c2ff;
  border: 1px solid #6f03ff;
  border-radius: 8px;
  transition: border-radius 0.5s ease-in-out;
  font-weight: bold;
}
