.article {
  border-radius: 32px;
  border: 2px solid #9285a7;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: #f6f1ff; */
  position: relative;
  top: 0;
  transition: top 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 700px) {
  .article {
    /* max-width: 320px; */
    flex-direction: row;
  }

  .imgWrapper > * {
    width: 350px;
  }

  .textWrapper {
    width: 50%;
  }
}

.textWrapper {
  width: auto;
  background-color: #f6f1ff;
  padding: 32px 24px;
  border-radius: 24px;
  z-index: 2;
  position: relative;
  flex-basis: 100%;
  max-width: 100vw;
}

@media screen and (min-width: 700px) {
  .textWrapper {
    padding: 48px;
  }
}

.title {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 32px;
}

@media screen and (min-width: 700px) {
  .title {
    font-size: 36px;
    line-height: 36px;
  }

}

.markup {
  font-size: 22px;
  line-height: 24px;
  max-height: 300px;
  overflow: hidden;
}

.markup a {
  color: #6f03ff;
}
